XRPL_NETWORK=testnet
XRPL_WSS=wss://s.altnet.rippletest.net:51233
XRPL_RPC=https://s.altnet.rippletest.net:51234
XRPL_EXPLORER=https://testnet.xrpl.org
ISSUER_SEED_FILE=./seeds/issuer.seed
HOLDER_A_SEED_FILE=./seeds/alice.seed
HOLDER_B_SEED_FILE=./seeds/bob.seed
UNAUTHORIZED_SEED_FILE=./seeds/unauthorized.seed
TOKEN_CURRENCY=AFX
TOKEN_NAME=Atlas Forge XRPL Test Token
